@model IEnumerable<EMSc.Models.Products>

@{
    ViewBag.Title = "ListOfProducts";
}

<h2>ListOfProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sku)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
