@model EMSc.Models.a_GroupPoliciesModel

@{
    ViewBag.Title = "GroupList";
}

<h2>GroupList</h2>

@using (Html.BeginForm()) 
{
    
    
    <div class="form-horizontal" style="margin-left:20%">
      
        <div class="form-group">
            <label class="control-label col-md-2" for="Group">Group</label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.id, new SelectList(ViewBag.GroupHead, "id", "Title")) <input type="button" value="+" class="btn btn-default" style="padding: 0 !important" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Page">Page Referance</label>
            <div class="col-md-10">
               @Html.DropDownListFor(y => y.id, new SelectList(ViewBag.Pages, "id", "Title"))
            </div>
        </div>
      
      <style>          
          #c1 {
              width:200px;
          }

      </style>
        
        
          <div class="form-group">
              <label class="control-label col-md-2" for="Permissions">Permissions</label>
            <div class="col-md-10">
                <table>
                    @{
                        char[] at = null;
                        string attrib = null;
                        string chVal = null;
                        int idx = 0;

                        if (ViewBag.SubVal == "Update")
                        {
                            attrib = Model.Attribs;

                            at = attrib.ToCharArray();
                            if (ViewBag.AccessType.Length > at.Length)
                            {
                                for (int q = 0; q < ViewBag.AccessType.Length - at.Length; q++)
                                { attrib = attrib + 0; }
                                at = attrib.ToCharArray();
                            }
                        }

                    }
                    @foreach (var i in ViewBag.AccessType)
                {
                    if (ViewBag.SubVal == "Update")
                    { chVal = (at[idx] == '1') ? "checked" : ""; }
                    <tr><td id="c1">@i</td><td id="c1"><input type="checkbox" name="@i" value="@i" @chVal /></td></tr>
                        idx++;
                    }
                </table>
            </div>
        </div>
      
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
